<div class="demo_wrapper">
  <div class="demo_header">
      <div class="header_left">
        <img src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
        <a ui-sref="demo">DEMO</a>
      </div>
      <div class="header_right">
        <a ui-sref="login">LOGIN</a>
        <a ui-sref="register">SIGN UP</a>
      </div>
    </div>
  </div>
  <div class="demo_content">
    <div class="demo_display">
      <div class="panel">

      </div>
      <div class="display">

      </div>
    </div>
  </div>
</div>
