<div class="demo_header">
  <div class="header_left">
    <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
    <h1 id="home_greeting">Welcome, {{user.first_name}}!</h1>
  </div>
  <div class="header_right">
    <a id="login" ui-sref="login">LOGIN</a>
    <a id="register" ui-sref="register">SIGN UP</a>
    <a id="account" ui-sref="account">MY ACCOUNT</a>
    <a ui-sref="demo">DEMO</a>
  </div>
</div>

<div class="demo_wrapper">

  <!-- <div class="demo_header">
      <div class="header_left">
        <img src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
        <a ui-sref="demo">DEMO</a>
      </div>
      <div class="header_right">
        <a ui-sref="login">LOGIN</a>
        <a ui-sref="register">SIGN UP</a>
      </div>
    </div>
  </div> -->

  <div class="demo_content">
    <div class="demo_display">
      <div class="panel">
        <!-- <ul class="panel_buttons">
          <li id="add-btn">Add&nbsp;&nbsp;<i class="fas fa-plus"></i></li>
          <li id="all-btn">All</li>
          <li id="graph-btn">Stats&nbsp;&nbsp;<i class="fas fa-chart-area"></i></li>
        </ul> -->
        <a href="#" id="add-btn"><i class="fas fa-plus fa-4x"></a>
        <a href="#" id="all-btn"><i class="fas fa-book fa-4x"></a>
        <a href="#" id="graph-btn"><i class="fas fa-chart-area fa-4x"></a>
        <a href="#" id="reset-btn" class="reset-btn" ng-click="deleteDemoEntries()"><button>reset</button></a>
        <!-- <div class="reset_btn" id="reset_btn">
          <button ng-click="deleteDemoEntries()" ui-sref="demo" type="button" name="button">reset</button>
        </div> -->
      </div>

      <div class="display">
        <div class="add_form" id="add">
          <div class="entry-card">
            <form class="" name="entry_form" ng-submit="addEntry(entry)" method="post">
              <input ng-model="entry.date" type="date" name="" value="2018-01-01" placeholder="Date">
              <input ng-model="entry.time" type="time" name="" value="" placeholder="Time">
              <input ng-model="entry.who" type="text" name="" value="" placeholder="Who">
              <input ng-model="entry.location" type="text" name="" value="" placeholder="Location">
              <input ng-model="entry.why" type="text" name="" value="" placeholder="Why">
              <input ng-model="entry.breakfast" type="text" name="" value="" placeholder="Breakfast">
              <input ng-model="entry.lunch" type="text" name="" value="" placeholder="Lunch">
              <input ng-model="entry.dinner" type="text" name="" value="" placeholder="Dinner">
              <input ng-model="entry.golf" type="text" name="" value="" placeholder="Golf">
              <input ng-model="entry.cocktails" type="text" name="" value="" placeholder="Cocktails">
              <input ng-model="entry.office_supplies" type="text" name="" value="" placeholder="office_supplies">
              <input ng-model="entry.beg_miles" type="text" name="" value="" placeholder="Beginning Mileage">
              <input ng-model="entry.end_miles" type="text" name="" value="" placeholder="End Mileage">
              <input ng-model="entry.other" type="text" name="" value="" placeholder="Other">
              <button  type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>
        <div class="all" id="all">
          <!-- <div class=""> -->
            <div class="entry" ng-repeat="entry in entries" ui-sref="singleDemo({ id: entry.id })">
              <!-- <p>{{entry.id}}</p> -->

              <!-- <p>{{entry.location}}</p>

              <p>${{entry.total3}}<p> -->
              <ul class="entry_list">
                <li>{{entry.date | date:'MMMM dd, yyyy'}}</li>
                <li>{{entry.time | date: 'hh:mm a'}}</li>
                <li>{{entry.location}}</li>
              </ul>
            </div>
          <!-- </div> -->
        </div>
        <div class="graph" id="graph">
            <!-- <div class="chart">
              <ul>
                <li>Total Entries: {{ entries.length }}</li>
                <li>Total Expenses: ${{ total }}</li>
                <li>Total Meals: ${{ totalMeals }}</li>
                <li>Total Miles: {{ totalMiles }}</li>
              </ul>
            </div>
            <div bar-chartbar-height="20"bar-padding="5"></div> -->
            <div class="wrapper">
              <div class="row1">
                <div class="total_entries block">
                  <h1>{{entries.length}}</h1>
                  <p>Entries</p>
                </div>
                <div class="total_miles block">
                  <h1>{{totalMiles}}</h1>
                  <p>Miles Driven</p>
                </div>
                <div class="total_meals block">
                  <h1><span>$</span>{{totalMeals}}</h1>
                  <p>on meals</p>
                </div>
              </div>
              <div class="row2">
                <div class="row2_left">
                  <div class="total_expense">
                    <h1><span>$</span>{{total}}</h1>
                    <p>Total Expense's</p>
                  </div>
                </div>
                <div class="row2_right">
                  <div class="total_supplies block">
                    <h1><span>$</span>{{totalSupplies}}</h1>
                    <p>on supplies</p>
                  </div>
                  <div class="total_leisure block">
                    <h1><span>$</span>{{totalLeisure}}</h1>
                    <p>on leisure</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

    </div>
  </div>

</div>
