<div class="home_wrapper">

  <div class="header">
    <div class="header_left">
      <img src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
      <a ui-sref="demo">DEMO</a>
    </div>

    <div class="header_right">
      <a ui-sref="login">LOGIN</a>
      <a ui-sref="register">SIGN UP</a>
    </div>
  </div>

  <div class="home_content">
    <div class="home_hero">
      <p>Welcome to your</p>
      <h1>Tax Journal</h1>
    </div>
    <section class="content_row">
      <div class="content_row_left">
        <h1>Easily Track and Manage Tax Write Offs</h1>
        <p>Bacon ipsum dolor amet ham hock landjaeger leberkas, sausage ground round turducken ribeye strip steak meatloaf frankfurter. Rump cupim shankle pig tri-tip, turducken tail pork chop. Ham hock corned beef shankle biltong pork loin. Jerky pig salami cow, pork beef ribs pork chop landjaeger ham drumstick. Kevin swine corned beef jerky, venison burgdoggen leberkas turkey. Meatball bresaola chicken pork loin, andouille kevin fatback jowl pastrami filet mignon burgdoggen tenderloin flank. Capicola jerky fatback jowl spare ribs landjaeger cow, biltong corned beef buffalo shoulder leberkas strip steak kevin bacon.</p>
      </div>
      <div class="content_row_right">
        <img src="/img/images/cathryn-lavery-67852.jpg" alt="">
      </div>
    </section>

    <section class="content_row">
      <div class="content_row_left" id="one2three_left">
          <div class="one2three"><p>1</p></div>
          <div class="one2three"><p>2</p></div>
          <div class="one2three"><p>3</p></div>
      </div>
      <div class="content_row_right" id="one2three_right">
        <h1>Easy as 1-2-3</h1>
        <p>La croix heirloom food truck 8-bit. Sartorial cronut VHS ugh, try-hard humblebrag franzen butcher occupy 90's normcore street art pitchfork. Woke raclette cronut, tofu 3 wolf moon iPhone hell of. Drinking vinegar before they sold out food truck, prism crucifix hot chicken stumptown bespoke.</p>
      </div>
    </section>

    <section class="content_row">
      <div class="content_row_left">
        <h1>Keep more of what you earn</h1>
        <p>Bacon ipsum dolor amet ham hock landjaeger leberkas, sausage ground round turducken ribeye strip steak meatloaf frankfurter. Rump cupim shankle pig tri-tip, turducken tail pork chop. Ham hock corned beef shankle biltong pork loin. Jerky pig salami cow, pork beef ribs pork chop landjaeger ham drumstick. Kevin swine corned beef jerky, venison burgdoggen leberkas turkey. Meatball bresaola chicken pork loin, andouille kevin fatback jowl pastrami filet mignon burgdoggen tenderloin flank. Capicola jerky fatback jowl spare ribs landjaeger cow, biltong corned beef buffalo shoulder leberkas strip steak kevin bacon.</p>
      </div>
      <div class="content_row_right">
        <img src="/img/images/olga-delawrence-386839.jpg" alt="">
      </div>
    </section>

    <section class="content_row">
      <div class="demo-signup-links">
        <h1 ui-sref="register">click here to sign up</h1>
        <h1 ui-sref="demo">click here for free demo</h1>
      </div>
    </section>

  </div>


</div>
