<h1>REGISTER</h1>
<ul>
  <li ui-sref="home">Home</li>
  <li ui-sref="demo">Demo</li>
  <li ui-sref="register">Register</li>
  <li ui-sref="login">Login</li>
  <li ui-sref="user">User</li>
</ul>

<div class="register_main_wrapper">
  <form class="" action="index.html" method="post">
    <input type="text" name="" value="" placeholder="First Name">
    <input type="text" name="" value="" placeholder="Last Name">
    <input type="text" name="" value="" placeholder="Email">
    <input type="text" name="" value="" placeholder="Password">
    <input type="text" name="" value="" placeholder="Confirm Password">
    <div class="newsletter_radio">
      <label for="radio_newsletter">Newsletter</label>
      <input type="radio" id="radio_newsletter" name="" value="" title="Newsletter" checked>
    </div>
    <button type="button" name="button">Submit</button>
  </form>
</div>
