

<div class="register_main_wrapper">
  <div class="register_header">
    <div class="register_header_left">
      <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
      <a ui-sref="demo">DEMO</a>
    </div>
    <div class="register_header_right">
      <a ui-sref="login">LOGIN</a>
      <a ui-sref="register">SIGN UP</a>
    </div>
  </div>

  <section class="register_form_section">
    <form class="register_form;" ng-submit="register(user)" method="post" autocomplete="off">
      <input ng-model="user.first_name" type="text" name="firstName" value="" placeholder="First Name" autocomplete="off" required>
      <input ng-model="user.last_name" type="text" name="lastName" value="" placeholder="Last Name" autocomplete="off" required>
      <input ng-model="user.email" type="text" name="email" value="" placeholder="Email" autocomplete="off" required>
      <input ng-model="user.password" type="text" name="password" value="" placeholder="Password" autocomplete="off" required>
      <!-- <input ng-model="user.password_confirm" type="text" name="passwordConfirm" value="" placeholder="Confirm Password"> -->
      <div class="newsletter_radio">
        <label for="radio_newsletter">Newsletter</label>
        <input ng-init="user.newsletter=true" ng-model="user.newsletter" ng-true-value="true" ng-false-value="false" type="checkbox" id="radio_newsletter" name="newsletter" value="" title="Newsletter" checked>
      </div>

      <button type="submit" name="button" ui-sref="account({ id: })">Submit</button>
      <h1>Already registered? &nbsp;<a ui-sref="login">Login</a></h1>
    </form>
  </section>

</div>
