

<div class="register_main_wrapper">
  <div class="register_header">
    <div class="register_header_left">
      <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
      <a ui-sref="demo">DEMO</a>
    </div>
    <div class="register_header_right">
      <a ui-sref="login">LOGIN</a>
      <a ui-sref="register">SIGN UP</a>
    </div>
  </div>

  <section class="register_form_section">
    <form action="index.html" method="post">
      <input ng-model="user.first_name" type="text" name="" value="" placeholder="First Name">
      <input ng-model="user.last_name" type="text" name="" value="" placeholder="Last Name">
      <input ng-model="user.email" type="text" name="" value="" placeholder="Email">
      <input ng-model="user.password" type="text" name="" value="" placeholder="Password">
      <input ng-model="user.password_confirm" type="text" name="" value="" placeholder="Confirm Password">
      <div class="newsletter_radio">
        <label for="radio_newsletter">Newsletter</label>
        <input type="radio" id="radio_newsletter" name="" value="" title="Newsletter" checked>
      </div>
      <button type="button" name="button">Submit</button>
    </form>
  </section>

</div>
