<!-- <div class="demo_header">
  <div class="header_left">
    <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
    <a ui-sref="demo">DEMO</a>
  </div>
  <div class="header_right">
    <a id="login" ui-sref="login">LOGIN</a>
    <a id="register" ui-sref="register">SIGN UP</a>
    <h1 id="home_greeting">Welcome, {{user.first_name}}!</h1>
    <a id="account" ui-sref="account">MY ACCOUNT</a>
  </div>
</div> -->

<!--fix and style later/ remove breaks -->
<!-- </br>
</br>
</br>
</br>
</br>
<div class="">
  <h1>single demo page</h1>
</div>

<div class="singleDemo" ng-repeat="s in singleDemo">
  <ul>
    <li>{{ s }}</li>
  </ul>
</div> -->


<div class="singleDemo_wrapper">
  <div class="demo_header">
    <div class="header_left">
      <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
      <h1 id="home_greeting">Welcome, {{user.first_name}}!</h1>
    </div>
    <div class="header_right">
      <a id="login" ui-sref="login">LOGIN</a>
      <a id="register" ui-sref="register">SIGN UP</a>
      <a id="account" ui-sref="account">MY ACCOUNT</a>
      <a ui-sref="demo">DEMO</a>
    </div>
  </div>


  <section class="entry_section">
    </br>
    </br>
    </br>
    </br>
    <!-- <div class="entry" ng-repeat="s in singleDemo">
      <ul>
        <li>{{ s }}</li>
      </ul>
    </div> -->

    <div class="entry">
      <ul>
        <li ng-hide="singleDemo.date == null"><p>Date: {{singleDemo.date | date: 'MMMM dd, yyyy'}}</p></li>
        <li ng-hide="singleDemo.time == null"><p>Time: {{singleDemo.time | date: 'hh:mm a'}}</p></li>
        <li ng-hide="singleDemo.location == null"><p>Location: {{singleDemo.location}}</p></li>
        <li ng-hide="singleDemo.who == null"><p>Who: {{singleDemo.who}}</p></li>
        <li ng-hide="singleDemo.why == null"><p>Why: {{singleDemo.why}}</p></li>
        <li ng-hide="singleDemo.breakfast == null"><p>Breakfast: ${{singleDemo.breakfast}}</p></li>
        <li ng-hide="singleDemo.lunch == null"><p>Lunch: ${{singleDemo.lunch}}</p></li>
        <li ng-hide="singleDemo.dinner == null"><p>Dinner: ${{singleDemo.dinner}}</p></li>
        <li ng-hide="singleDemo.golf == null"><p>Golf: ${{singleDemo.golf}}</p></li>
        <li ng-hide="singleDemo.cocktails == null"><p>Cocktails: ${{singleDemo.cocktails}}</p></li>
        <li ng-hide="singleDemo.office_supplies == null"><p>Office Supplies: ${{singleDemo.office_supplies}}</p></li>
        <li ng-hide="singleDemo.other == null"><p>Other: ${{singleDemo.other}}</p></li>
        <li ng-hide="total == 0"><p>Total: ${{total}}</p></li>
        <li ng-hide="singleDemo.beg_miles == null"><p>Beginning Mileage: {{singleDemo.beg_miles}}</p></li>
        <li ng-hide="singleDemo.end_miles == null"><p>Ending Mileage: {{singleDemo.end_miles}}</p></li>
        <li ng-hide="totalMiles <= 0"><p>Total Mileage: {{totalMiles}}</p></li>
      </ul>
    </div>
    <div class="back-btn">
      <!-- <button ui-sref="demo" type="button" name="button">Back</button> -->
      <a ui-sref="demo"><i class="fas fa-arrow-left fa-4x"></i></a>
    </div>
  </section>
</div>
