<!-- <div class="demo_header">
  <div class="header_left">
    <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
    <a ui-sref="demo">DEMO</a>
  </div>
  <div class="header_right">
    <a id="login" ui-sref="login">LOGIN</a>
    <a id="register" ui-sref="register">SIGN UP</a>
    <h1 id="home_greeting">Welcome, {{user.first_name}}!</h1>
    <a id="account" ui-sref="account">MY ACCOUNT</a>
  </div>
</div> -->
<!--fix and style later/ remove breaks -->
<!-- </br>
</br>
</br>
</br>
</br>
<h1>users single entry page</h1>
<div class="" ng-repeat="entry in singleEntry">
  {{ entry }}
</div> -->

<div class="singleEntry_wrapper">
  <div class="demo_header">
    <div class="header_left">
      <img ui-sref="home" src="/img/images/Generic Book File Type-595b40b75ba036ed117d95f4.svg" alt="">
      <h1 id="home_greeting">Welcome, {{user.first_name}}!</h1>
    </div>
    <div class="header_right">
      <a id="login" ui-sref="login">LOGIN</a>
      <a id="register" ui-sref="register">SIGN UP</a>
      <a id="account" ui-sref="account">MY ACCOUNT</a>
      <a ui-sref="demo">DEMO</a>
    </div>
  </div>


  <section class="singleEntry_section">
    </br>
    </br>
    </br>
    </br>
    <!-- <div class="singleEntry" ng-repeat="s in singleEntry">
      <ul>
        <li>{{ s }}</li>
      </ul>
    </div> -->

    <div class="singleEntry">
      <ul>
        <li ng-hide="singleEntry.date == null"><p>Date: {{singleEntry.date | date: 'MMMM dd, yyyy'}}</p></li>
        <li ng-hide="singleEntry.time == null"><p>Time: {{singleEntry.time | date: 'hh:mm a'}}</p></li>
        <li ng-hide="singleEntry.location == null"><p>Location: {{singleEntry.location}}</p></li>
        <li ng-hide="singleEntry.who == null"><p>Who: {{singleEntry.who}}</p></li>
        <li ng-hide="singleEntry.why == null"><p>Why: {{singleEntry.why}}</p></li>
        <li ng-hide="singleEntry.breakfast == null"><p>Breakfast: ${{singleEntry.breakfast}}</p></li>
        <li ng-hide="singleEntry.lunch == null"><p>Lunch: ${{singleEntry.lunch}}</p></li>
        <li ng-hide="singleEntry.dinner == null"><p>Dinner: ${{singleEntry.dinner}}</p></li>
        <li ng-hide="singleEntry.golf == null"><p>Golf: ${{singleEntry.golf}}</p></li>
        <li ng-hide="singleEntry.cocktails == null"><p>Cocktails: ${{singleEntry.cocktails}}</p></li>
        <li ng-hide="singleEntry.office_supplies == null"><p>Office Supplies: ${{singleEntry.office_supplies}}</p></li>
        <li ng-hide="singleEntry.other == null"><p>Other: ${{singleEntry.other}}</p></li>
        <li ng-hide="total == 0"><p>Total: ${{total}}</p></li>
        <li ng-hide="singleEntry.beg_miles == null"><p>Beginning Mileage: {{singleEntry.beg_miles}}</p></li>
        <li ng-hide="singleEntry.end_miles == null"><p>Ending Mileage: {{singleEntry.end_miles}}</p></li>
        <li ng-hide="totalMiles <= 0"><p>Total Mileage: {{totalMiles}}</p></li>
      </ul>
    </div>
    <div class="delete_entry_modal" id="delete_entry_modal">
      <div class="delete_title">
        <h1>delete entry?</h1>
      </div>
      <div class="delete_buttons">
        <a ng-click="deleteEntry(singleEntry.id)" ui-sref="account" id="delete_entry_confirm"><i class="fas fa-check-circle fa-4x"></a>
        <a id="keep_entry"><i class="fas fa-times-circle fa-4x"></a>
      </div>
    </div>
    <div class="button">
      <a ui-sref="account"><i class="fas fa-arrow-left fa-4x"></i></a>
      <a id="delete_entry"><i class="fas fa-times fa-4x"></i></a>
      <!-- <a ng-click="deleteEntry(singleEntry.id)" ui-sref="account"><i class="fas fa-times fa-4x"></i></a> -->
      <!-- <button ui-sref="account" type="button" name="button"><i class="fas fa-arrow-left fa-4x"></i></button>
      <button ng-click="deleteEntry(singleEntry.id)" ui-sref="account" type="button" name="button"><i class="fas fa-times fa-4x"></i></button> -->
    </div>
  </section>
</div>
