.demo_header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  font-family: sans-serif;
  background-color: lightgrey;

  a {
    text-decoration: none;
    color: black;
  }

  .header_left {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      padding-right: 15px;
    }
  }

  .header_right {
    padding-right: 50px;

    a {
      margin-left: 15px;
    }
  }
}

.demo_wrapper {
  width: 100vw;
  height: 100vh;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;

  .demo_content {
    border: 1px solid blue;
    width: 75vw;
    height: 65vh;
    display: flex;
    // flex-direction: row;

    .demo_display {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .panel {
        height: 100%;
        width: 25%;
        border: 2px solid pink;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .display {
        height: 100%;
        width: 75%;
        // border: 2px solid purple;
        display: flex;
        justify-content: center;
        align-items: center;

        #add {
          display: none;
          height: 100%;
          // border: 1px solid blue;
          justify-content: center;
          align-items: center;

          .entry-card {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 90%;
            height: 40%;
          }
        }

        #all {
          width: 90%;
          height: 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          border: 1px solid red;

          .entry {
            border: 1px dashed blue;
            width: 70%;
            display: flex;
            justify-content: space-between;
            line-height: 30px;
          }
        }

        #graph {
          display: none;
        }
      }
    }
  }
}
