body {
  .home_wrapper {
    width: 100%;
    font-family: sans-serif;

    .header {
      width: 100vw;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      position: fixed;
      font-family: sans-serif;

      a {
        text-decoration: none;
        color: black;
      }

      .header_left {
        display: flex;
        align-items: center;

        img {
          height: 40px;
          width: 40px;
          padding-right: 15px;
        }
      }

      .header_right {
        padding-right: 50px;

        h1 {
          margin-left: 15px;
        }

        a {
          margin-left: 15px;
        }
      }
    }

    .header.active {
      background-color: white;
    }

    .home_content {
      width: 100vw;

      .home_hero {
        width: 100vw;
        height: 70vh;
        padding-top: 10vh;
        background: url('/img/images/carlos-muza-84523.jpg') no-repeat center fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 3px;

        p {
          font-size: 28px;
        }

        h1 {
          font-size: 74px;
        }
      }

      .content_row {
        display: flex;

        .content_row_left {
          width: 50%;
          height: 400px;
          text-align: center;
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h1 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 15px;
            text-transform: uppercase;
          }

          .one2three {
            border: 3px solid black;
            height: 125px;
            width: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border-radius: 50%;
            font-size: 30px;
          }
        }

        #one2three_left {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        .content_row_right {
          width: 50%;
          height: 400px;
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          img {
            width: 100%;
            height: 75%;
          }
        }

        #one2three_right {
          display: flex;
          flex-direction: column;

          h1 {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        .demo-signup-links {
          width: 100%;
          height: 300px;
          margin-top: 5%;
          margin-bottom: 10%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          text-transform: uppercase;
          font-size: 36px;
          letter-spacing: 2px;

          h1 {
            cursor: pointer;
            border: 1px solid grey;
            border-radius: 5px;
            width: 50%;
            text-align: center;
            line-height: 80px;
          }

          h1:hover {
            background-color: grey;
          }
        }
      }
    }
  }
}
