.singleEntry_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background: url('/img/images/entry.jpeg') no-repeat center fixed;

  .singleEntry_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .singleEntry {
      height: 50%;
      width: 50%;
      overflow: scroll;
      color: black;
      background-color: lightgrey;
      border: 2px solid white;
      border-radius: 5px;
      line-height: 38px;
      font-size: 32px;
      letter-spacing: 2px;
      padding: 5%;
    }
  }
}
