.singleEntry_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2193b0,
    #6dd5ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .singleEntry_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .singleEntry {
      height: 50%;
      width: 50%;
      overflow: scroll;
      color: black;
      background-color: lightgrey;
      border: 2px solid white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      line-height: 38px;
      font-size: 32px;
      letter-spacing: 2px;
      padding: 5%;
    }

    .delete_entry_modal {
      height: 35%;
      width: 40%;
      display: none;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
      position: absolute;
      text-align: center;
      box-shadow: 10px 10px 5px grey;
      padding: 25px;

      .delete_title {
        h1 {
          text-transform: uppercase;
          font-size: 36px;
          font-family: Arial;
        }
      }

      .delete_buttons {
        width: 50%;
        display: flex;
        justify-content: space-between;

        #keep_entry {
          color: red;
          cursor: pointer;
        }

        #delete_entry_confirm {
          color: green;
          cursor: pointer;
        }
      }
    }

    .button {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2%;
      background-color: none;

      a:visited {
        color: black;
      }

      h1 {
        font-size: 36px;
        text-transform: uppercase;
      }

      #save_button {
        display: none;
      }
    }

    .edit_wrapper {
      height: 50%;
      width: 50%;
      overflow: scroll;
      color: black;
      background-color: lightgrey;
      border: 2px solid white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      line-height: 38px;
      font-size: 32px;
      letter-spacing: 2px;
      padding: 5%;
      display: none;

      ul {
        li {
          display: flex;

          input {
            border: none;
            background-color: lightgrey;
            margin-left: 9px;
            font-family: serif;
            color: black;
            font-size: 32px;
            letter-spacing: 2px;
          }

          input::placeholder {
            font-family: serif;
            color: black;
            font-size: 32px;
          }

          ::-webkit-input-placeholder {
            color: black;
            letter-spacing: 2px;
            font-family: inherit;
          }
        }
      }
    }
  }
}
