.singleDemo_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2193b0,
    #6dd5ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: url('/img/images/entry.jpeg') no-repeat center fixed;

  .entry_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

    .entry {
      height: 50%;
      width: 50%;
      overflow: scroll;
      color: black;
      background-color: lightgrey;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 1px solid white;
      border-radius: 5px;
      padding: 5%;
      line-height: 36px;
      font-size: 30px;
      letter-spacing: 2px;
    }

    .back-btn {
      // border: 1px solid red;
      margin-top: 2%;

      a:visited {
        color: black;
      }
    }
  }
}
